
[value="Click me!"]{
    border-radius: 25px;
    color:white;
    background-color: black;
}
input[type=text]:not(.excepted){
    color:blue
}
input[type=button]{
    color:white;
    background-color: black;
    border-radius:10px 0px 5px 0px;
}
/* .excepted{
color:black
} */