
a:not([href]):hover{
    color:orange
}
a:not([href]):active{
    color:tomato
}
a[href^="http:"]:visited{
color:orange;
}
a[href^="http:"]:link{
    color:green;
}
a[href^="https:"]:link{
    color:green;

}
a[href^="https:"]:visited{
    color:cyan;
}

