article section::first-letter{
    font-size: 200%;
}
article section{
    border:1px solid black;
    border-radius: 10px;
}

article section::selection{
    color:white;
    background-color: black;

}